.orders_stats {
	width: 580px;
	height: 100%;
	overflow-y: scroll;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 0;
	list-style-type: none;
}

.done .list {
	color: var(--colors-interface-success);
}

.orders_board {
	display: flex;
	flex-direction: row;
	gap: 36px;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.count {
	text-shadow:
		0 4px 32px #3333ff80,
		0 0 8px #3333ff40,
		0 0 16px #3333ff40;
}
