.ingredient_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image {
	width: 480px;
	height: 240px;
}

.bju {
	display: flex;
}

.bju_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 112px;
}
